@using E.Standard.Platform
@using Portal.Core.AppCode.Extensions
 
@inject Portal.Core.AppCode.Services.UrlHelperService urlHelper
@inject E.Standard.Configuration.Services.ConfigurationService config
@inject Portal.Core.AppCode.Services.CustomContentService customContent

@model Portal.Core.Models.Portal.PortalModel
@{
    ViewBag.Title = Model.PortalPageName;
    Layout = "~/Views/Shared/_Layout_empty.cshtml";
}

@{
    var request = this.Context.Request;

    string apiUrl = urlHelper.ApiUrl(request, E.Standard.WebGIS.Core.HttpSchema.Current);
    string portalUrl = ViewData["portalRootUrl"]?.ToString().RemoveEndingSlashes();
    string portalContentUrl = ViewData["portalContentUrl"]?.ToString();
}

<link href="@(portalUrl)/lib/webportal-layout/webportal-layout.css?@(WebGISVersion.CssVersion)" rel="stylesheet" />
<script src="@(portalUrl)/lib/webportal-layout/webportal-layout.js?@(WebGISVersion.CssVersion)"></script>

<script src="@(apiUrl)/scripts/api/api.min.js?@(WebGISVersion.CssVersion)" id="webgis-api-script"></script>
<script src="@(apiUrl)/scripts/api/api-ui.min.js?@(WebGISVersion.CssVersion)"></script>

<link href="@(apiUrl)/content/styles/default.css?@(WebGISVersion.CssVersion)" rel="stylesheet" />

@if (Model.IsContentAuthor)
{
    <script src="@((request.Uri().ToString().Split('?')[0].EndsWith("/") ? "../" : "") + Url.Content("Scripts/webgis-portal-content.js?") + WebGISVersion.JsVersion)"></script>

    <script src="@(portalUrl)/scripts/tinymce/4/tinymce.js"></script>
    <script src="@(apiUrl)/scripts/typeahead/typeahead.jquery.min.js"></script>

    <script src="@(apiUrl)/scripts/api/ui/webgis_modal.js?@(WebGISVersion.CssVersion)"></script>
}

@if (Model.IsPortalPageOwner)
{
    <script src="@(portalContentUrl)/scripts/webgis-portal-ua.js?@(WebGISVersion.CssVersion)"></script>
    <script src="@(apiUrl)/scripts/webgis-jquery-multiselect-autocomplete.js?@(WebGISVersion.CssVersion)"></script>
}

<link href="@(portalContentUrl)/content/portal.css?@(WebGISVersion.CssVersion)" rel="stylesheet" />
<link href="@(portalContentUrl)/content/portal-cloud.css?@(WebGISVersion.CssVersion)" rel="stylesheet" />
@if (customContent.CompanyPortalCssExists())
{
    <link href="@(portalContentUrl)/content/companies/@(config.Company())/portal.css?@(WebGISVersion.CssVersion)" rel="stylesheet" />
}
@{ var portalCssVersion = customContent.PagePortalCssVersion(Model.PortalPageId); }
@if (!String.IsNullOrWhiteSpace(portalCssVersion))
{
    @if (String.IsNullOrWhiteSpace(customContent.PortalCustomContentRootPath))
    {
        <link href="@(portalContentUrl)/content/portals/@(Model.PortalPageId)/portal.css?@(portalCssVersion)" rel="stylesheet" />
    }
    else
    {
        <link href="@(customContent.CustomScriptContent(Model.PortalPageId, Model.CurrentUsername, "portal.css", portalCssVersion))" rel="stylesheet" />
    }
}
<script src="@(portalContentUrl)/scripts/webgis-portal-cloud.js?@(WebGISVersion.CssVersion)"></script>

<script type="text/javascript">
    portal = '@(Model.PortalPageId)';
    isAuthor=@(Model.IsMapAuthor.ToString().ToLower());
    isOwner=@(Model.IsPortalPageOwner.ToString().ToLower());
    uaEditable=@(Model.AllowUserAccessSettings.ToString().ToLower());
    isAnonymous=@(String.IsNullOrWhiteSpace(Model.CurrentUsername).ToString().ToLower());
    showOptimizationFilter = @Model.ShowOptimizationFilter.ToString().ToLower();
    currentUsername = '@Model.CurrentUsername.ToJavaScriptEncodedString()';
</script>

<nav class="webportal-layout-header fixed navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-brand">@Model.PortalPageName</div>
        @if((Model.IsMapAuthor || Model.IsPortalPageOwner) && Model.ConfigBranches?.Length > 0) 
        {
            <select id="webgis-select-config-branch" class="webgis-input" style="float:right;width:100px">
                @foreach(var branch in Model.ConfigBranches) 
                {
                    <option value="@branch">@(string.IsNullOrEmpty(branch) ? "(main)" : branch)</option>
                }
            </select>
        }
    </div>
</nav>


<div class="webportal-layout-container page-has-header page-has-footer">
    <div class="webportal-layout-sidebar">
        <ul class="webportal-layout-sidebar-items top">
            @if (Model.IsMapAuthor)
            {
                <li class="webportal-layout-sidebar-item resource">
                    <img src="@(portalUrl)/content/img/help-26-w.png" />
                    <a href="https://docs.webgiscloud.com/de/webgis/apps/viewer/index.html" target="_blank">Help/Tutorials</a>
                </li>
                <li class="webportal-layout-sidebar-item">
                    <img src="@(portalUrl)/content/img/sidebar/builder-26-w.png" />
                    <a href="@urlHelper.PortalUrl()/@(Model.PortalPageId)/MapBuilder">MapBuilder</a>
                </li>
                <li class="webportal-layout-sidebar-item">
                    <img src="@(portalUrl)/content/img/sidebar/builder-26-w.png" />
                    <a href="@urlHelper.PortalUrl()/@(Model.PortalPageId)/AppBuilder">AppBuilder</a>
                </li>
            }
            <li class="webportal-layout-sidebar-item hr">
                <hr />
                <div class="text">Karten Kategorien</div>
            </li>
        </ul>
        <ul class="webportal-layout-sidebar-items center">
        </ul>
        @if (Model.AllowLogin || Model.AllowLogout)
        {
            <ul class="webportal-layout-sidebar-items bottom">
                <li class="webportal-layout-sidebar-item hr">
                    <hr />
                    <div class="text">@Model.CurrentUsername</div>
                </li>
                @if (Model.AllowLogout)
                {
                    <li class="webportal-layout-sidebar-item logout">
                        <img src="@(portalUrl)/content/img/sidebar/logout-26-w.png" />
                        <a asp-area="" asp-controller="Auth" asp-action="Logout" asp-route-id="@Model.PortalPageId">Abmelden</a>
                    </li>
                }
            </ul>
        }
    </div>
    <div class="webportal-layout-main">
        <div class="webportal-layout-main-container">
            <div style="overflow:auto;text-align:center">

                <div class="page-content-frame">
                    <div class="heading">
                        <h1>Karten</h1>
                    </div>
                    <p>
                        @Model.PortalPageDescription
                    </p>

                    <ul class="page-content-item-list" style="" id="page-content-list">

                    </ul>
                    @if (Model.IsContentAuthor)
                    {
                        <br />
                        <br />
                        <div class='webgis-page-content-new-item' id="page-content-new-item">Inhalt hinzufügen</div>
                    }
                    @if (Model.IsPortalPageOwner)
                    {
                        <!--<div class='webgis-page-content-edit-styles'>Styles bearbeiten</div>-->
                        @if (!String.IsNullOrWhiteSpace(customContent.PortalCustomContentRootPath))
                        {
                            <div class='webgis-page-content-edit-customjs'>custom.js bearbeiten</div>
                            <div class='webgis-page-content-edit-portalcss'>portal.css bearbeiten</div>
                            <div class='webgis-page-content-edit-defaultcss'>default.css bearbeiten</div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<div class="webportal-layout-footer">
    <div class="version">
        Version @WebGISVersion.Version
    </div>
</div>


<iframe id="image-upload-form-target" name="image-upload-form-target" style="display:none"></iframe>
<form id="image-upload-form" action="./@(Model.PortalPageId)/UploadContentImage" target="image-upload-form-target" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">
    <input type="hidden" name="contentId" id="currentEditContentId" value="" />
    <input name="content-image" type="file" onchange="$('#image-upload-form').submit();this.value='';">
</form>

@if(Model.IsPortalPageOwner || Model.IsMapAuthor) {
    <script type="text/javascript">
        $(document).ready(function () {
            var $branchSelect = $('#webgis-select-config-branch');
            console.log($branchSelect);

            if($branchSelect.length == 0) {
                webgis.localStorage.set('currentBranch', '');
            } else {
                $branchSelect.val(webgis.localStorage.get('currentBranch'));
                $branchSelect.on('change', function() {
                    webgis.localStorage.set('currentBranch', $branchSelect.val());

                    location.reload();
                });
            }
        });
    </script>
}



